//fonts

$font-family: Helvetica, sans-serif;

$back-ground-color: #fafafa;

// Grid System

$width: 96%;
$gutter: 4%;
$breakpoint-large: 60em; // 960px
$breakpoint-med: 45em; // 720px
$breakpoint-small: 33.75em; // 540px
